.local-files,
.picked-files {
    font-size: 14px;
}

::ng-deep {
    .file-item {

        .name,
        .mime,
        .path {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
        }
    }
}